.navigation {
    height:3%;
    padding: 1% 1%;
    display: flex;
    justify-content: space-between;
    position:sticky;
    z-index:3;
    top:0;
    left:0;
    background-color: #282c34;
}

.navigation-list {
    display: flex;
    list-style: none;
    flex-basis: 50%;
    justify-content: space-around;
}


/* .navigation-list li *,
.home-link * {
    color: azure;
    text-decoration: none;

} */

/* .active {
    color: rgb(245, 183, 183);
    font-weight: bold;
    border-radius: none;


  } */
  
  ul {
    display: flex;
    gap: 1rem;
    font-size: 0.9rem;
    list-style: none;
    padding: 0;
  }
  
  li {
    cursor: pointer;
  }
  
  li:hover {
    text-decoration: underline;
  }

  @media only screen and (max-width: 595px) {
    .navigation {
        padding-top: 2%;
     flex-direction: column;
    }
    .navigation-list {
      padding-top: 2%;
   flex-wrap: wrap;
    }

}