.App {
  text-align: center;
  background-color: #282c34;
  color: azure;
}

* {
  margin: 0;
  padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(245, 183, 183);
 

}

.intro{
  animation: animateTranslate 4s;
}

@keyframes animateTranslate {
  0% {
    transform: translate(-20px, -50px);
    opacity: 0;
  }


  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}


.App-header {
  /* min-height: 50vh; */
  padding: 10% 0 5% 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  flex-wrap: wrap;
}

.padding {
  padding: 10px 0;
}



.myImg {
  height: 50%;
  border-radius: 50%;
}

/* ------------------------------- */
.aboutme,
.portfolio,
.education-section {
  max-width: 70%;
  margin: auto;
  padding: 5% 0;
}

.aboutme {
  background-image: url(../src/asserts/aboutme.jpg) no-repeat;
}

.aboutme-heading {
  padding-bottom: 2%;
}


.aboutme-heading,
.portfolio-heading,
.education-heading {
  font-family: Arial;
  font-size: calc(10px + 2vmin);
 /*  animation: fadeIn 5s; */
}

.aboutme-heading:active,.aboutme-heading:focus,
.portfolio-heading:active,.portfolio-heading:focus,
.education-heading :active,.education-heading :focus{

  animation: fadeIn 5s;
}



@keyframes fadeIn {
  0% {
    /* transform: skewX(20deg); */
    transform: translate(20px, 50px);
   /*  opacity: 0; */
  }

  100% {
    /* transform: skewX(0deg); */
    transform: translate(0px, 0px);
    /* opacity: 1; */
  }
}

/* ---------------- */
.portfolio {
  padding-bottom: 2%;
}


.flipcard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}

.projects ul li {
  vertical-align: middle;
}

.project-img {
  width: 60%;
  height: 350px;
}

.project-img img {
  width: 100%;
  height: 100%;
}

.project-content {
  width: 300px;
  margin: 1% 0;
}


.tech {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 1rem;
  font-size: 0.9rem;
  justify-content: center;
  margin-top: 5px;
}

.tech li {
  margin-top: 2px;
  padding: 1% 2%;
  border-radius: 8%;
  background-color: rgb(245, 183, 183);
  color: azure;
}

.education-heading {
  padding: 5% 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.education-section {
  margin-bottom: 10%;
}

.education {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  margin: 10px auto;
  text-align: left;

}

/* .active {
  color: rgb(245, 183, 183)
} */

/* Project courasel styles */
.carousel {
  display: flex;
  scroll-snap-type: x proximity;
  overflow-x: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none
}

.carousel__item {
  width: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
}

.carousel__image {
  display: block;
}

.carousel::-webkit-scrollbar {
  display: block;
}

.carousel::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}


/* Handle */
.carousel::-webkit-scrollbar-thumb {
  background: rgb(245, 183, 183);
  border-radius: 10px;
}

/* Handle on hover */
.carousel::-webkit-scrollbar-thumb:hover {
  background: rgb(245, 183, 183);
}


.controls__dot {
  margin: 0 3px;
  padding: 1px 6px;
  color: azure;

}

.controls {
  padding: 2% 0;
}

.controls a {
  text-decoration: none;
}

/* Break points */


/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 600px) {

  .App-header {
    margin-top: 40px;
    min-height: 50vh;
    flex-direction: column-reverse;
  }

  .aboutme,
.portfolio,
.education-section {
  max-width: 70%;
  margin: 1% auto;
  padding: 15% 0;
}

  .aboutme-heading,
  .portfolio-heading,
  .education-heading {
    margin-top: 40px;
  }

  .myImg {
    width: 70vw;
    border-radius: 50%;
  }

/*   .project-content {
    width: 100%;
    margin: 3% 0;
  }

  .project-img {
    width: 60%;
    height: 150px;
  }

  .project-img img {
    width: 100%;
    height: 100%;
  } */
  .project-img {
    width: 100%;
    height: 200px;
  }

  .project-img img {
    width: 100%;
    height: 100%;

  }

  .project-content {
    width: 100%;
    margin: 1% 0;
  }

  .education {
    flex-direction: column;
  }


}

@media only screen and (min-width: 600px) {
  .aboutme .active,
  .portfolio .active,
  .education-section .active {
  
    padding: 15% 0;
  }
}

@media only screen and (min-width: 600px) {
  .project-img {
    width: 100%;
    height: 350px;
  }

  .project-img img {
    width: 100%;
    height: 100%;

  }

  .project-content {
    width: 100%;
    margin: 1% 0;
  }
}


@media only screen and (min-width: 875px) {
  .project-img {
    width: 60%;
    height: 200px;
  }

  .project-img img {
    width: 100%;
    height: 100%;

  }

  .project-content {
    font-size: small;
    width: 250px;
    margin: 1% 0;
  }

}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
  .project-img {
    width: 60%;
    height: 350px;
  }

  .project-img img {
    width: 100%;
    height: 100%;

  }

  .project-content {
    width: 300px;
    margin: 1% 0;
    font-size: medium;
  }

}