
/* not using it, instead using app.css */

.aboutme{
    max-width: 70%;
   margin: auto;
 position:relative;

}

.aboutme-heading {
  /*   color:rgb(86, 86, 87); */
    font-family: Arial;
    font-size: calc(10px + 2vmin);
    animation: fadeIn 5s;
     
}

.aboutme p{
   position: inherit;
}


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }